/* This file is for your main application css. */

@import "~milligram/dist/milligram";

.column > p {
  padding-top: 1rem;
  text-align: center;
}

.column > h1 {
  color: black;
  text-align: center;
}

.card {
  background: gray;
  padding: 1rem;
  color: black;
  text-align: center;
  width: 6rem;
  height: 6rem;
}

