/* This file is for your main application css. */

@import "~milligram/dist/milligram";

.column > p {
  padding-top: 1rem;
  text-align: center;
}

.column > h1, h3 {
  color: black;
  text-align: center;
}

.row {
  margin-bottom: 2rem;
}

.card {
  padding: 1rem;
  color: black;
  text-align: center;
  width: 8rem;
  height: 8rem;
  margin: auto;
}

.card > h4 {
  padding-top: 1rem;
}

.card-gray {background: gray;}
.card-yellow {background: yellow;}
.card-green {background: green;}

.new-game {
  margin-top: 1rem;
}

